.feedback-form {
  padding: 0 2rem;
  margin: 1rem 0;
}

.feedback-form .buttons .ui.button {
  min-height: 3.5rem;
}

.feedback-form .comment {
  margin: 1rem 0;
}

.feedback-form .ui.form .comment textarea {
  height: 6rem;
}

.feedback-form .submit-wrapper {
  margin: 2rem 0;
}

.feedback-form #vf-more {
  overflow: hidden;
  max-height: 0;

  transition: 0.6s max-height ease;
}

.feedback-form #vf-more[aria-expanded='true'] {
  max-height: 800px;
}

.feedback-form .rating-container {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.feedback-form .answers-step .answers-header,
.feedback-form .comments-step .comments-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 0 0.9375rem 1.325rem -0.9rem rgba(0, 0, 0, 0.1);
  font-weight: 600;
}

.feedback-form .answers-step .answers-form {
  padding: 1rem;
}

.feedback-form .answers-step .answers-form .field {
  padding: 0.75rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.feedback-form .answers-step .answers-form .field .checkbox {
  display: flex;
  align-items: center;
}

.feedback-form
  .answers-step
  .answers-form
  .field
  .checkbox
  input[type='checkbox'] {
  width: 20px;
  height: 20px;
}

.feedback-form .answers-step .answers-form .field .checkbox label {
  margin-left: 0.75rem;
  font-weight: 600;
}

.feedback-form .comments-step .comment {
  padding: 0 1rem;
}

.feedback-form .comments-step .comment textarea {
  padding: 0.75rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.feedback-form .form-step-actions {
  display: flex;
  height: 0;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  visibility: hidden;
}

.feedback-form .form-step-actions[aria-hidden='false'] {
  height: auto;
  visibility: visible;
}

.feedback-form .form-step-actions .next-action,
.feedback-form .form-step-actions .prev-action {
  padding: 0.35rem 0.75rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.05);
  font-weight: 600;
  outline: none;
}

.feedback-form .form-step-actions .prev-action {
  margin-right: 1rem;
}

.feedback-form .form-step-actions .next-action {
  margin-right: 1rem;
  background-color: rgb(0, 126, 177);
  color: white;
}

.feedback-form .ui.checkbox input:checked ~ label::after,
.feedback-form .ui.checkbox input:checked .box::after {
  display: none;
}

.feedback-form .ui.radio.checkbox input[type='radio'] {
  width: 20px;
  height: 20px;
}

.feedback-form .ui.radio.checkbox {
  padding: 0 1rem;
}

.feedback-form .ui.icon.message {
  position: relative;
  display: flex;
  width: 100%;
  height: 100% !important;
  min-height: 1em;
  align-items: center;
  padding: 1em 1.5em;
  border-radius: 0.28571429rem;
  margin: 1em 0;
  background: #f8f8f9;
  -webkit-box-shadow: 0 0 0 1px rgba(34, 36, 38, 0.22) inset,
    0 0 0 0 transparent;
  box-shadow: 0 0 0 1px rgba(34, 36, 38, 0.22) inset, 0 0 0 0 transparent;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.4285em;
  -webkit-transition: opacity 0.1s ease, color 0.1s ease, background 0.1s ease,
    -webkit-box-shadow 0.1s ease;
  transition: opacity 0.1s ease, color 0.1s ease, background 0.1s ease,
    -webkit-box-shadow 0.1s ease;
  transition: opacity 0.1s ease, color 0.1s ease, background 0.1s ease,
    box-shadow 0.1s ease;
  transition: opacity 0.1s ease, color 0.1s ease, background 0.1s ease,
    box-shadow 0.1s ease, -webkit-box-shadow 0.1s ease;
}

.feedback-form .ui.icon.message > .icon:not(.close) {
  display: block;
  width: auto;
  height: 58px !important;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin-right: 1rem;
  -webkit-box-flex: 0;
  font-size: 3em;
  line-height: 1;
  opacity: 0.8;
  vertical-align: middle;
}

.feedback-form .ui.success.message {
  background-color: #fcfff5;
  -webkit-box-shadow: 0 0 0 1px #a3c293 inset, 0 0 0 0 transparent;
  box-shadow: 0 0 0 1px #a3c293 inset, 0 0 0 0 transparent;
  color: #2c662d;
}

.feedback-form .ui.success.message .content p {
  margin: 0 !important;
}

.feedback-form .ui.success.message .header {
  margin-bottom: 0.25rem !important;
  color: #1a531b;
  font-size: 1.14285714em;
  font-weight: 700;
}

.read-more-text .ui.button.read-more-show-less {
  padding: 0 !important;
  border: none !important;
  margin: 0 0 0 0.25rem !important;
  background-color: transparent !important;
  color: rgb(0, 126, 177) !important;
  font-family: inherit !important;
  font-size: 1rem !important;
  font-style: normal !important;
  font-weight: 400 !important;
  outline: none !important;
}

.read-more-text .ui.button.read-more-show-less:hover {
  border: none !important;
  background-color: transparent !important;
  cursor: pointer !important;
  outline: none !important;
  text-decoration: underline !important;
}

.read-more-text .ui.button.read-more-show-less:focus {
  border: none !important;
  background-color: transparent !important;
  color: rgb(0, 79, 110) !important;
  cursor: pointer !important;
  outline: none !important;
  text-decoration: underline !important;
}
