#page-feedbacks .ui.button.labeled i.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
#page-feedbacks .ui.table.sortable thead th {
  padding: 0;
}

#page-feedbacks .ui.sortable.table thead th.descending:after {
  display: none;
}

#page-feedbacks .ui.sortable.table thead th.ascending:after {
  display: none;
}
#page-feedbacks .ui.table thead th.center.aligned .button {
  justify-content: center;
}

#page-feedbacks .ui.table.sortable thead th.sorted .button:after {
  width: 0px;
  height: 0px;
  border-top: 0px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #000;
  margin-left: 1em;
  content: '';
  transform: rotate(-135deg);
}

#page-feedbacks .ui.checkbox.toggle label {
  overflow: hidden;
}

#page-feedbacks .ui.table.sortable thead th.sorted.descending .button:after {
  margin-bottom: 0;
  transform: rotate(45deg);
}

#page-feedbacks .ui.table.sortable thead .button {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 1.5em 0.5em;
  border: 1px solid transparent;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) and (max-width: 1071px) {
  #page-feedbacks .ui.table.sortable thead .button {
    flex-direction: column;
  }
  #page-feedbacks .ui.table.sortable thead th.sorted .button:after {
    margin-left: 0;
    margin-top: 0.5em;
  }
}

#page-feedbacks .ui.table.sortable thead .button:hover {
  background-color: unset !important;
}

#page-feedbacks .ui.table.sortable thead .button:focus {
  border: 1px solid #995c00;
}

#page-feedbacks .ui.button.open-feedback-comments {
  position: relative;
}
#page-feedbacks .ui.button.open-feedback-comments .unread-items {
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #ff7f50;
  border-radius: 100%;
  top: -0.25rem;
  right: -0.25rem;
}

#page-feedbacks .ui.form.search-form .ui.fluid.input {
  justify-content: flex-end;
  margin-bottom: 0.5rem;
}

#page-feedbacks .ui.form.search-form .ui.fluid.input input {
  max-width: 23rem;
}

#page-feedbacks .ui.message.selected-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#page-feedbacks .no-results {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 1rem;
  border-right: 1px solid #c7d5d8;
  border-left: 1px solid #c7d5d8;
  margin: 0em -1px;
  font-style: italic;
  font-weight: 300;
}

.confirm-delete-item:not(:last-of-type) {
  margin-bottom: 0.75rem;
}

.confirm-delete-item {
  font-weight: 600;
}

#feedback-comments-modal .vote-label .icon {
  margin: 0;
}

#feedback-comments-modal .feedback-comment {
  font-style: italic;
  font-size: 0.9rem;
  font-weight: 300;
}

#feedback-comments-modal .feedback-no-feedback {
  color: rgba(0, 0, 0, 0.2);
  font-style: italic;
}

#feedback-comments-modal tr.comment-to-read,
#feedback-comments-modal tr.comment-to-read .feedback-comment {
  font-weight: 600;
}

.ui.dimmer .ui.workaround.loader:before {
  border-color: rgba(0, 0, 0, 0.1);
}

.ui.dimmer .ui.workaround.loader:after {
  border-color: #767676 transparent transparent;
}
