.feedback-form .answers-header > legend,
.feedback-form .answers-header > span,
.feedback-form .comments-header > legend,
.feedback-form .comments-header > span {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.5;
}
